@media all and (max-width: 1080px) {
  .portfolio__home {
    margin-left: 5%;
    h1 {
      font-size: 6.3vw;
    }
  }

  .home__tech-container img {
    width: 7vw;
    height: auto;
  }
}

@media all and (max-width: 1022px) {
  .project-img {
    display: none;
  }
}

@media all and (max-width: 980px) {
  #about-section .about-container {
    max-width: 500px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    img {
      max-width: 450px;
    }
  }
}

@media all and (max-width: 692px) {
  #home__command-line {
    width: 95%;
  }
}

@media all and (max-width: 650px) {
  header nav {
    position: fixed;
    top: 60px;
    flex-direction: column;
    width: 100%;
    right: 0;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hidden;
    background-color: black;
    height: 0;
    transition: .5s;
    a {
      font-size: 34px;
      border-bottom: 1px solid gray;
      width: 100%;
      text-align: center;
      &:hover {
        background-color: white;
      }
    }
  }
  header {
    height: 60px;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .hamburger-container {
    display: flex;
  }
}

@media all and (max-width: 544px) {
  #projects-section {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #projects-section .project {
    width: 90%;
    h1,
    h3,
    p {
      text-align: left;
    }
  }
  .project-info {
    min-height: 288px;
  }
  #projects-section .project .project-info .links {
    margin-right: auto;
    margin-left: 8px;
  }
}

@media all and (max-width: 500px) {
  #about-section {
    width: 100%;
  }
  #about-section .about-container {
    width: 98%;
    margin-top: 40px;
  }
  .about-container .paragraph-column {
    width: 95%;
  }
  #about-section .about-container .paragraph-column .tech-container {
    width: 100%;
    grid-gap: 5px;
  }
  #about-section #profile {
    max-width: 95%;
    margin-right: auto;
  }
  #contact-section form input {
    width: 95%;
  }
  #contact-section form textarea {
    width: 95%;
  }
}

@media all and (max-width: 650px) {
  .scroll-bar__container {
    width: 84vw;
    div {
      width: 84vw;
    }
  }
}

@media all and (max-width: 399px) {
  #home__command-line {
    h1 {
      display: none;
    }
  }
}
